Thumbs.db
.idea/
lib-cov/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
/themes/*
!/themes/default/

doc/
pids/
logs/
results/
build/

node_modules/
package-lock.json
.dockerignore
.gitignore
.prettierignore