Thumbs.db
.idea/
lib-cov/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.md
*.min.*
/themes/*
!/themes/default/
config.js
modules.js

pids/
logs/
results/
build/

node_modules/
package-lock.json
.dockerignore
.gitignore
.prettierignore