<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <%- include('includes/head.ejs'); -%>

    <script>
        window.onload = function() {
            TVwww(JSON.parse('<% if (typeof payload !== 'undefined') { %><%- JSON.stringify(payload).replace(/'/g, '`').replace(/<(?:.|\n)*?>/gm, '') %><% } else { %>{}<% } %>'));
        };
    </script>
</head>
<body>
</body>
</html>