<header id="header-sec">
    <div class="inner-padding">
        <div class="pull-left">
            <h2>
                <i class="<%- icon %>"></i>&nbsp;&nbsp;&nbsp;<%- title %>
            </h2>
        </div>
        <div class="pull-right">
            <div class="btn-count btn-group flush-data">
                <span class="hidden-xs"><%= __('Очистить кэш:') %></span>
                <a href="javascript:void(0)" id="flush_memcached" class="btn btn-default" style="border-radius:3px;"><i class="fa fa-tachometer-alt" title="<%= __('Очистка кэша памяти') %>"></i></a>
            </div>
        </div>
    </div>
</header>