<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<% var t = (typeof title !== 'undefined') ? title : (typeof status !== 'undefined') ? status : 'Error'; %>
<title><%- t %> - CinemaPress</title>

<link rel='shortcut icon' type='image/x-icon' href='/themes/default/public/admin/favicon.ico?cache'>

<meta name="theme-color" content="#1a2035">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style>body, html {
        background: #1a2035;
        z-index: -1001;
    }</style>

<link rel="manifest" href="/themes/default/public/admin/manifest.json?cache">
<link rel="stylesheet" href="/themes/default/public/admin/css/bootstrap.min.css?cache">
<link rel="stylesheet" href="/themes/default/public/admin/css/font-awesome.min.css?cache">
<link rel="stylesheet" href="/themes/default/public/admin/css/all.min.css?cache">

<script src="/themes/default/public/admin/js/all.min.js?cache"></script>

<link href="/themes/default/public/admin/css/tagify.min.css?cache" rel="stylesheet">
<script src="/themes/default/public/admin/js/tagify.min.js?cache"></script>