<header id="header-main">
    <div class="header-main-top">
        <div class="pull-left">
            <a href="/<%- config.urls.admin %>" id="logo-small">
                <h4>CinemaPress</h4>
            </a>
        </div>
        <div class="pull-right">
            <a href="javascript:void(0)" id="responsive-menu-trigger"> <i class="fa fa-bars"></i> </a>
        </div>
    </div>
    <div class="header-main-bottom">
        <div class="pull-left">
            <div class="vticker" id="alertCP"></div>
        </div>
        <div class="pull-right">
            <p>
                <a href="<%- config.protocol + config.domain %>" class="hidden-xs" style="text-decoration:none;" target="_blank"><%- config.domain %> <span class="fa fa-external-link-square-alt"></span></a>
                <a href="<%- config.protocol + config.domain %>" class="visible-xs-inline" style="text-decoration:none;" target="_blank"><span class="fa fa-external-link-square-alt"></span></a>
            </p>
        </div>
    </div>
</header>