<div id="sidebar-sec" class="sidebar">

    <div class="sidebar-sec-top"></div>

    <div class="sidebar-module">
        <div class="btn-group-justified change-lang">
            <a href="https://github.com/CinemaPress/CinemaPress/issues" class="btn btn-default" target="_blank"><i
                        class="fa fa-language"
                        style="float: left; font-size: 18px;opacity: .5;"></i> <%= __('Ошибки в переводе?') %></a>
        </div>
    </div>

    <div class="sidebar-module" style="padding: 0; margin: 0;">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="https://github.com/CinemaPress/CinemaPress/issues" target="_blank" class="btn btn-block btn-default"
                   style="text-align: center; display: inline-table; margin: 150px auto; padding: 20px">
                    <span class="fa fa-question-circle" style="font-size: 28px; width: 100%"></span>
                    <p style="font-size: 11px;"><%= __('Есть вопросы?') %></p>
                </a>
            </div>
        </div>

    </div>

</div>