<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">

<link rel="apple-touch-icon" sizes="180x180" href="/themes/default/public/mobile/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/themes/default/public/mobile/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/themes/default/public/mobile/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/themes/default/public/mobile/manifest.json">
<link rel="mask-icon" href="/themes/default/public/mobile/safari-pinned-tab.svg">
<meta name="theme-color" content="#ffffff">

<%- page.codes.head %>